<%- model_class = Transfer -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>From</th>
      <th>to</th>
      <th><%= model_class.human_attribute_name(:value) %></th>
      <th>Currency</th>
      <th><%= model_class.human_attribute_name(:transaction_status) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:updated_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @transfers.each do |transfer| %>
      <tr>
        <td><%= link_to transfer.id, transfer_path(transfer) %></td>
        <td><%= transfer.sender_name %></td>
        <td><%= transfer.receiver_name %></td>
        <% if transfer.sender_name == current_user.name  %>
          <td>-<%= transfer.value %></td>
        <% else %>
          <td>+<%= transfer.value %></td>
        <% end %>
        <td><%= transfer.currency_type %></td>
        <% if transfer.transaction_status== true %>
          <td>Successful</td>
        <% else %>
          <td>Unsuccessful</td>
        <% end %>
        <td><%=l transfer.created_at %></td>
        <td><%=l transfer.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_transfer_path,
            :class => 'btn btn-primary' %>
